.DatabaseFormContainer {
    display: flex;
    flex-direction: column;
    width: 60vh;
    border-color: black;
    margin-top: 30px;
    margin-left: 50px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
  }

.custom-btn:active {
    background-color: #ccd0d5 !important;
    transform: translateY(4px);
  }

.custom-btn {
    margin-bottom: 20px;
}

h1, h3 {
    cursor: default;
}

label{
    font-size: 17px;
    font-weight: bold;
    display: flex;
    color: #000000;
}

input {
    margin-bottom: 20px;
}

.form-button {
    margin-left: 75%;
}

.add-button {
    background-color: #52c41a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
}

.remove-button {
    background-color: #f5222d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
}

.update-button {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
}