body {
    font-family: 'Montserrat', sans-serif;
  }

h1.pageTitle {
    color: #7e8391;
    font-family: 'Roboto', sans-serif;
}

.inventory-container {
    margin: 20px 0;
    font-family: 'Montserrat, sans-serif';
}

.table-header {
    background-color: #1264d2;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-family: 'Montserrat, sans-serif';
}


.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Montserrat, sans-serif';
}

.inventory-table thead tr {
    background-color: #1264d2;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.inventory-table th,
.inventory-table td {
    padding: 12px 15px;
    border: 1px solid #000;
    cursor: default;
}

.inventory-table tbody tr {
    border-bottom: 1px solid #dddddd;
    border-left: 1.4px solid #1264d2;
    border-right: 1.5px solid #1264d2;
}

.inventory-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.inventory-table tbody tr:last-of-type {
    border-bottom: 2px solid #1264d2;
}

.inventory-table tbody tr.active-row {
    font-weight: bold;
    color: #1264d2;
}
