.ChangePasscontainer {
    display: flex;
    flex-direction: column;
    width: 60vh;
    border-color: black;
    margin-top: 30px;
    margin-left: 50px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
  }

  .settings-button {
    margin-left: 260px;
  }

  .changePass-button {
    background-color: rgb(9, 190, 3);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
}

label{
    font-size: 17px;
    font-weight: bold;
    display: flex;
    color: #000000;
}

input {
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-container {
    margin-top: 30px;
    margin-left: 50px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

.account-container h3 {
  margin-bottom: 20px;
}

.account-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-right: 100px;
}

.input-field input{
  border-radius: 15px;
}

.input-placeholder {
  margin-top: -45px;
  margin-left: 10px;
  font-size: 14px;
}