body {
    font-family: 'Montserrat', sans-serif;
  }

h1.pageTitle {
    color: #7e8391;
    font-family: 'Roboto', sans-serif;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.employees-container {
    margin: 20px 0;
    font-family: 'Montserrat, sans-serif';
}

.table-header {
    background-color: #1264d2;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-family: 'Montserrat, sans-serif';
}


.employees-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Montserrat, sans-serif';
}

.employees-table thead tr {
    background-color: #1264d2;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.employees-table th,
.employees-table td {
    padding: 12px 15px;
    border: 1px solid #000;
}

.employees-table tbody tr {
    border-bottom: 1px solid #dddddd;
    border-left: 1.4px solid #1264d2;
    border-right: 1.5px solid #1264d2;
}

.employees-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.employees-table tbody tr:last-of-type {
    border-bottom: 2px solid #1264d2;
}

.employees-table tbody tr.active-row {
    font-weight: bold;
    color: #1264d2;
}
