body {
    font-family: 'Montserrat', sans-serif;
  }

h1.pageTitle {
    color: #7e8391;
    font-family: 'Roboto', sans-serif;
}

.reports-container {
    margin: 20px 0;
    font-family: 'Montserrat, sans-serif';
}

.table-header {
    background-color: #ffffff;
    padding: 0.5px;
    color: black;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-family: 'Montserrat, sans-serif';
}


.reports-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Montserrat, sans-serif';
}


.reports-table .ant-table-thead > tr > th {
    background-color: #1264d2;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    padding: 12px 15px;
}

.reports-table .ant-table-tbody > tr > td {
    padding: 12px 15px;
    border: 1px solid #000;
}

.reports-table .ant-table-tbody > tr:nth-child(even) {
    background-color: #f3f3f3;
}

.reports-table .ant-table-tbody > tr:last-child > td {
    border-bottom: 2px solid #1264d2;
}

.reports-table .ant-table-tbody > tr.active-row {
    font-weight: bold;
    color: #1264d2;
}

.reports-table .ant-table-wrapper {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
